body, html {
    width: 100%
    height: 100%
    /* margin: 0px;
    opacity: 0; */
    /* background-color: black; */
    /* transition: opacity .5s; */
}

/* body.AR-container {
    margin: 0px;
    overflow: hidden;
    background-color: none;
} */

/* Loader */
#splash {
  position: fixed;
  z-index: 99999;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;

  font-size: 12px;
  font-family: sans-serif;
  color: #fff;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, .99);
  transition: all 1s ease-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#splash .loading {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 0.25rem solid rgba(0, 0, 0, 0.2);
  border-top-color: #fff;
  animation: spin 1s infinite linear;
}

/* Header */
table {
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
}
.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75px;
    height: auto;
}

/* Title */
.page_title {
    /* color: #ef2d5e; */
    color: #f7996e;
    font: 300 42px/1.3 Fira Sans,Helvetica,Arial,sans-serif;
    margin: 5px 0 20px;
    text-align: center;
}

/* Blurb */
p {
    font: 300 20px/1.3 Fira Sans,Helvetica,Arial,sans-serif;
    margin: 20px;
    text-align: center;
}


/* Image anchors */
* {box-sizing: border-box;}

.container {
  position: relative;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 50%;
  border: 3px solid black;
  height: 305px;
  width: 1486px;
  left: 50%;
  transform: translate(-50%);
}

.image {
  display: block;
  width: 500px;
  height: 300px;
}

#left {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}
#middle {
    position: absolute;
    left: 480px;
    top: 0px;
    z-index: 3;
}
#right {
    position: absolute;
    left: 980px;
    top: 0px;
    z-index: 2;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font: 300 20px/1.3 Fira Sans,Helvetica,Arial,sans-serif;
  /* font-size: 20px; */
  padding: 20px;
  text-align: center;
  z-index: 4;
}

.container:hover .overlay {
  opacity: 1;
}

/* Footer */
td {
    width: 33%;
    border: 1px solid #2d5399;
    color: white;
    padding: 10px;
    font: 300 14px/1.3 Fira Sans,Helvetica,Arial,sans-serif;
}
a:link, a:visited, a:hover, a:active {
    color: white;
    /* text-decoration: none; */
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}



/* The code for the responsive grid of images (experiemnts'images/logos) on the landing page */
/* Create 2 equal columns that sits next to each other.
If you want to add more columns for additional experiments, adjust the 'max-width' property:
- 33% for 3 columns
- 25% for 4 columns
- and so forth...
Please notice however, that that is the max width; the layout is responsive,
so columns get shrunk if the webport's size decreases.*/
.column {
  flex: 25%;
  max-width: 50%;
  padding: 0 4px 10px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
/* END of responsive images grid */


/* Code to set an overlaying button */
/* Container needed to position the button. Adjust the width as needed */
.container-button {
 position: relative;
}
/* Style the button and place it in the middle of the container/image */
.container-button .btn {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 background-color: #2d5399;
 color: white;
 font-size: 16px;
 padding: 12px 24px;
 border: none;
 cursor: pointer;
 border-radius: 5px;
}
.container .btn:hover {
 background-color: black;
}
/* END of overlaying button */
